# --Main---- #
pyrofork
tgcrypto
aiofiles
aiohttp
requests
beautifulsoup4

# ---database--- #
pymongo
dnspython
marshmallow
umongo
motor

# ---ytdl---- #
youtube-search-python
youtube-search
yt-dlp

# ---imdb--- #
cinemagoer
imdbpy

# ---others---- #
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
Pillow
psutil
numpy
wheel
ujson
wget
pytz
