#--Main----#
pyrofork==2.4.0  # Use the latest stable version
tgcrypto==1.2.1
aiofiles==23.1.0
aiohttp==3.8.5
requests==2.31.0
beautifulsoup4==4.12.2

#---database---#
pymongo==4.3.3
dnspython==2.3.0
marshmallow==3.19.0
umongo==3.1.0
motor==3.3.0

#---ytdl----#
youtube-search-python==1.2.1
youtube-search==1.0.0
yt-dlp==0.38.0

#---imdb---#
cinemagoer==8.2.0
imdbpy==2023.9.23  # Ensure this is the latest stable version

#---others----#
opencv-python-headless==4.6.0.66
googletrans==4.0.0-rc1
telegraph==0.1
python-dotenv==1.0.0
gTTS==2.3.1
Pillow==9.5.0
psutil==5.9.5
numpy==1.24.4
wheel==0.40.0
ujson==5.7.0
wget==3.2
pytz==2023.3
